<nav class="navbar-default pull-left">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
    </div>
</nav>
<!--
<div class="search hidden-xs hidden-sm" ng-show="searchFunc=='true'">
    <input type="text" placeholder="Search" id="search">
</div>
-->