<div class="logo">
    <a href="home.php">
		<img src="resources/images/Mark.png" alt="merkery_logo" class="hidden-xs hidden-sm">
		<img src="resources/images/Mark.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
	</a>
</div>
<div class="navi">
    <ul>
		<li ng-repeat='menuitem in menuItems' ng-class="{'active': 'Home' == '{{menuitem.Title}}'}">
			<a href='{{menuitem.Link}}'><i class='{{menuitem.Icon}}' aria-hidden="true"></i>
				<span class="hidden-xs hidden-sm">{{ menuitem.Title }}</span>
			</a>
		</li>
	</ul>
</div>